<div class="card rdio">
    <form ng-submit="rdioPlaylist()">
        <fieldset>
            <div class="row">
                <legend><img src="/img/s.png"/> Paste your Rdio Playlist</legend>
            </div>
            <div class="row">
                <div class="span3">
                    <label>Playlist Title</label>
                    <input type="text" ng-model="playlistData.title" required  placeholder="Playlist Title">
                    <label>Playlist content - should have one song per line in the format of:<br />
                    artist - song title<br />
                    (I use the bookmarklet from the link below to create this list from each of my Rdio playlists. Create the bookmarklet, visit a Rdio playlist in a browser, and click the bookmarklet.<br />
                    https://gist.github.com/srccd/5938636)</label>
                    <textarea ng-model="playlistData.list" required></textarea>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <div class="span5 pull-right">
                </div>
            </div>
        </fieldset>
    </form>
</div>